extends layout

block content
	h1= title
	p Welcome to #{title} #{number} #{guests}<br>
		li #{data[1].reps[0]} <br>
		li This is more text <br>
		each item in guests
			li= item
		<br>
		div
			table
				thead
					tr
						th Entry ID
						th Exercie
						th Reps
						th Sets
						th Weight
						th Average<br>Velocity
						th RFID
						th Date
				tbody
					each item in data
						tr 
							td= item.entry_id
							td= item.exercise
							td= item.sets
							td= item.reps
							td= item.weight
							td= item.avg_vel
							td= item.entry_RFID
							td= item.date_added